#sidebar {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: darkgoldenrod;
    overflow-x: hidden;
    padding-top: 20px;
}

#weather-container{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 25px;
    margin: 5px;

}
#weather-container h3{
   text-align: center;

}
#location-form{
    text-align: center;
    display: flex;

}
div#weather-scroll{
    display: flex;
    overflow: auto;
  white-space: nowrap;
}