#sidebar {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: darkgoldenrod;
    overflow-x: hidden;
    padding-top: 20px;
}

#weathercontainer{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 25px;
    margin: 5px;

}
#weathercontainer h3{
   text-align: center;
   
}
div#weatherscroll{
    overflow: auto;
  white-space: nowrap;
}